.container {
    width: calc(100% - 70px);
    height: calc(100vh - 70px);
}

.header{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid #494949;
    color: #fff;
    font-size: 1em;
    background-color: #0c0c0c;
}

.chat{
    width: 100%;
    height: calc(100% - 80px);
    background-color: #1f1f1f;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    position: relative;
}

.sendMessage{
    width: 100%;
    height: 40px;
    display: flex;
}
.sendMessage input {
    width: calc(100% - 70px);
    height: 100%;
    background-color: transparent;
    border-right: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    color: #fff;
}
.sendMessage button {
    width: 70px;
    background-color: #0c0c0c;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    border: none;
    transition: .3s;
}
.sendMessage button:hover {
    background-color: var(--blue-color);
}
.sendMessage .emoji{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--blue-color);
}

.messages{
    width: 100%;
    display: flex;
}
.message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.messageContent{
    width: 50%;
    padding: 10px;
    background-color: #26ac26;
    border-radius: 10px 10px 10px 0;
}
.messageInfo{
    margin-left: 10px;
    font-size: .8em;
    display: flex;
    align-items: center;
    gap: 10px;
}
.messageInfo #time{
    font-style: italic;
}
.messageInfo #author{
    font-weight: bold;
}

.messages  #you {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}
.messages #you .messageContent {
    border-radius: 10px 10px 0 10px;
    background-color: var(--blue-color);
}


@media screen and (max-width: 350px){
    .header {
        font-size: .7em;
    }
}